:root {
    /* Colors */

    --primary-color: #b92929;
    --secondary-color: #B2B2B2;

    --black-color: rgb(55, 55, 55);

    /* Fonts */
    --primary-font: "Poppins", sans-serif;
    --secondary-font: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

/* common classes */

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}

ul {
    list-style: none !important;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--i);
    -webkit-box-orient: vertical;
    overflow: hidden;
}



h2.circleAndLine {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-color) !important;
    position: relative;
    text-align: center;
}

h2.circleAndLine::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 150px;
    height: 2.5px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.1);
}

h2.circleAndLine::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


h3.circleAndLine {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black-color) !important;
    position: relative;
    text-align: center;
}

h3.circleAndLine::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 150px;
    height: 2.5px;
    transform: translateX(-50%);
    background: var(--black-color);
}

h3.circleAndLine::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%);
    border: 1px solid var(--black-color);
}


/* TopBar  */

.topBarContainer {
    width: 100%;
    height: 45px;
    background-color: var(--primary-color) !important;
}


.customNavbar {
    background: rgba(37, 37, 41, 1);
}

.customNavbar li a {
    font-size: 14px;
}

.navbar-brand img {
    width: 130px;
}

.topBarContainer p {
    margin: 0;
}

.topBarContainer p {
    font-size: 14px;
    color: white;
}

.topBarContainer p i {
    background: white;
    color: var(--primary-color);
    padding: 0.3rem;
    border-radius: 50%;
}

.topBarContainer i {
    font-size: 15px;
    color: white;
}

.topBarContainer select {
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
}

.topBarContainer option {
    color: #000;
}

/* TopBar */

/* banner */

.banner-image {
    background-image: var(--img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -53px;
    height: 600px;
}

/* banner ends */


/* creative section */
.creative_section {}

.creative_col h3 {
    font-size: 2.1rem;
}

.creative_col h5 {
    font-size: 1.5rem;
}

/* creative section ends */


/* Courses */


/* Course Container */

.coursesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: url("../../../assets/images/banner/redbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.coursesContainer h2 {
    color: #fff !important;
}

.coursesContainer h2::before {
    background: #fff !important;
}

.coursesContainer h2::after {
    border-color: #fff !important;
    background: var(--primary-color);
}

.coursesContainer p {
    color: #fff !important;
}

.coursesContainer .courses__card {
    height: 530px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}


.coursesContainer .courses__card .imgDiv {
    width: 100%;
    height: 480px;
}


.coursesContainer .courses__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.coursesContainer .content {
    width: 100%;
    height: 100px;
    transition: 0.3s;
}

.coursesContainer .headingDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.coursesContainer .headingDiv span {
    width: calc(100% - 100px);
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.coursesContainer .headingDiv button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
}

.coursesContainer .headingDiv button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.coursesContainer .headingDiv button i {
    font-size: 21px;
    color: var(--light-black);
}


/* All courses page */



.allcoursesContainer .courses__card {
    height: 530px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
}


.allcoursesContainer .courses__card .imgDiv {
    width: 100%;
    height: 480px;
}


.allcoursesContainer .courses__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.allcoursesContainer .content {
    width: 100%;
    height: 100px;
    transition: 0.3s;
}

.allcoursesContainer .headingDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.allcoursesContainer .headingDiv span {
    width: calc(100% - 100px);
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.allcoursesContainer .headingDiv button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
}

.allcoursesContainer .headingDiv button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.allcoursesContainer .headingDiv button i {
    font-size: 21px;
    color: var(--light-black);
}



/* Courses ends */


/* ubiquity */

.ubiquityContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: url("../../../assets/images/banner/building_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ubiquityContainer img {
    width: 60%;
}

/* .ubiquityContainer h2 {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    text-transform: uppercase;
} */
/* 


.ubiquityContainer p {
    padding: 0 4rem;
    font-size: 19px;
    color: #000000;
    text-align: center;
} */


/* ubiquity ends */


/* Studio Background */

.studio_background_div {
    height: 200px;
    border-radius: 20px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studio_background_div span {
    font-size: 31px;
    color: #fff;
    transition: 0.4s;
    transform: scale(0);
}

.studio_background_div:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("./assets/images/banner/header\ 2.svg");
}

.studio_background_div:hover span {
    transform: scale(1);
}

/* Studio Background ends */

/* make an appoinment */

.makeAnAppinmentSection {
    background: url("../../../assets/images/banner/bannerbg2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.makeAnAppinmentSection p {
    width: 70%;
    font-weight: 600;
    text-align: center;
    font-style: italic;
    color: #fff;
}

.makeAnAppinmentSection a {
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    font-weight: 900;
    color: var(--primary-color);
    padding: 0.6rem 0.9rem;
    border-radius: 10px;
}

/* make an appoinment ends */


/* Store Container */

.storeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.storeContainer .courses__card {
    height: 350px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
}


.storeContainer .courses__card .imgDiv {
    width: 100%;
    height: 300px;
    z-index: -100;
}

.storeContainer .courses__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.storeContainer .content {
    width: 100%;
    height: 50px;
    transition: 0.3s;
}

.storeContainer .headingDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.storeContainer .headingDiv span {
    width: calc(100% - 100px);
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.storeContainer .headingDiv button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
}

.storeContainer .headingDiv button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.storeContainer .headingDiv button i {
    font-size: 21px;
    color: var(--light-black);
}



.storeContainer .paragraphDiv {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.storeContainer .paragraphDiv p {
    font-size: 15px;
    padding: 0 0.5rem;
    text-align: center
}

/* store container ends */


/* Subscription Container */

.subscriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.subscriptionCard {
    height: 400px;
    position: relative;
}

.subscriptionCard .circle {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.subscriptionCard .imgDiv {
    height: 350px;
    border: 1.4px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}

.subscriptionCard button {
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}

.subscriptionCard button:hover {
    background: var(--primary-color);
}

/* Subscription ends */

/* Count */

.countContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: url("../../../assets/images/banner/redbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.countContainer h3 {
    color: #fff;
    font-weight: 700;
    /* line-height: 130px; */
    margin: 0;
}

.countContainer span {
    /* font-size: 16px; */
    color: #fff;
    font-weight: 700;
}



/* Count ends */

/* Blogs  */

.blogsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
}



.blog__card {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
}

.blog__card .imgDiv {
    width: 100%;
    height: 300px;
    z-index: -100;
}

.blog__card .imgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog__card .content {
    padding: 0.5rem 0.8rem;
    height: 120px;
}

.blog__card .content h2 {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}

.blog__card .content p {
    font-size: 14px;
    color: var(--light-black);
    font-weight: 400;
    margin: 0;
}

.blog__card .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog__card .date span {
    font-size: 12px;
    color: var(--light-black);
}

.blog__card .date span i {
    font-size: 16px;
}

.blog__card .date button {
    width: 55px;
    height: 40px;
    border: none;
    outline: none;
    background-color: var(--secondary-color-color);
    padding: 0;
    font-size: 13px;
    color: var(--light-black);
}

.blog__card .date button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.blog__card .date button i {
    font-size: 16px;
    color: var(--light-black);
    margin-right: 0.3rem;

}

/* Blogs ends */



/* Footer */

footer {
    width: 100%;
    background: #252525;
}

.footer__list h2 {
    font-size: 21px;
    color: #fff;
}

.footer__list p {
    font-size: 14px;
    color: var(--secondary-color);
}

.footer__list span {
    font-size: 14px;
    color: var(--secondary-color);
}

.footer__list span i {
    font-size: 20px;
    margin-right: 0.5rem;
}

.footer__list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list ul li {
    list-style: none;
}

.footer__list ul li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--secondary-color);
    font-style: italic;
}

.form input {
    outline: none;
    border: none;
    width: 100%;
    background: #3b3b3b;
    font-size: 14px;
    font-style: italic;
    color: var(--secondary-color);
    padding: 1rem 1.4rem;
    margin-bottom: 1rem;
}

.form input::placeholder {
    color: var(--secondary-color);
}

.form textarea {
    width: 100%;
    outline: none;
    border: none;
    background: #3b3b3b;
    font-size: 15px;
    color: var(--secondary-color);
    padding: 1rem 1.4rem;

}

.form button {
    border: none;
    outline: none;
    font-size: 14px;
    font-style: italic;
    background: #fff;
    margin-top: 1rem;
    padding: 0.6rem 2rem;
}


.footer__bottom p {
    margin: 0 !important;
    color: var(--secondary-color);
    font-size: 18px;
    font-style: italic;
}

.footer__bottom a {
    color: var(--secondary-color);
    font-size: 20px;
    font-style: italic;
}

/* Footer Ends */


/* Course Page */

/* hero container */
.hero_container {
    background-image: var(--img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -53px;
    height: 600px;
}

/* key highlights */
.key_container .key_container_div p {
    color: rgba(55, 55, 55, 1);
    font-style: italic;
    margin: .9rem 0;
    text-align: center;
    font-weight: 700;
}

.key_container .key_container_div li p {
    margin: 5px 0;
    text-align: start;
    font-weight: 400;
}

.key_container .key_container_div li {
    margin: 5px 0;
    text-align: center;
    font-weight: 400;
}

.key_div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 70px;
}


/* key highlights ends */

/* Overview container */

.overview_container {
    background: url("../../../assets/images/banner/building_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Overview container ends */

/* download container  */

.download_container {
    background: url("../../../assets/images/banner/redbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.download_container a {
    color: var(--primary-color);
}

/* download container  ends */


/* certification   */
.certification_container {
    background: url("../../../assets/images/banner/redbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.certification_container h2 {
    color: #fff !important;
}


.certification_container h2::before {
    background: #fff !important;
}

.certification_container h2::after {
    background: var(--primary-color);
    border: 1px solid #fff !important;
}


/* certification  ends */


/* explore_container */

.explore_container {
    background: url("../../../assets/images/banner/building_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explore_container h4,
.explore_container p {
    color: var(--primary-color);
}

.explore_container a {
    background: var(--primary-color);
}

/* explore_container  ends */

/* requirement */

.requirement_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.requirement_container .courses__card {
    height: 350px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 20px;
}


.requirement_container .courses__card .imgDiv {
    width: 100%;
    height: 300px;
    z-index: -100;
}

.requirement_container .courses__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.requirement_container .content {
    width: 100%;
    height: 50px;
    transition: 0.3s;
}

.requirement_container .headingDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.requirement_container .headingDiv span {
    width: calc(100% - 100px);
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.requirement_container .headingDiv button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
}

.requirement_container .headingDiv button:nth-child(2) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.requirement_container .headingDiv button i {
    font-size: 21px;
    color: var(--light-black);
}


/* requirement ends */

/* faqs_container  */
.faqs_container h3 {
    color: rgba(0, 0, 0, 0.7);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

/* faqs_container ends */


/* contact page */
.contact__container form input,
.contact__container form textarea {
    transition: .5s;
    outline: 1px solid transparent;
}

.contact__container form input:focus,
.contact__container form textarea:focus {
    outline: 1px solid var(--primary-color);
}

.contact__container form button {
    color: #fff;
    background: var(--primary-color);
    border-radius: 0;
    border: 1px solid transparent;
    transition: .4s;
}

.contact__container form button:hover {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

/* about page */




/* My Account Page */


.shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
    min-width: 250px;
}

.tab-content {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
}

.nav-pills a.nav-link i {
    width: 20px;
}

.img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: var(--primary-color);
}

.redBtn {
    background: var(--primary-color);
    color: #fff;
}


/* checkout */

.razorpay-payment-button {
    width: 100%;
    margin-top: 1.4rem;
    border: none;
    outline: none;
    background: #B92929;
    color: #fff;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}


/* Header */

.navbar-nav li {
    position: relative;

}

.navbar-nav li ul {
    padding: 5px;
    margin: 0;
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

.navbar-nav li ul li {
    padding: 15px 20px;
    display: block;
}

.navbar-nav li ul li a {
    font-size: 15px;
    color: #333;
    display: block;
    transition: .3s;
    text-decoration: none;
}

.navbar-nav li ul li a i {
    transition: .3s;
}

/* .navbar-nav li ul li a:focus-within i , */
.navbar-nav li ul li a:hover i {
    transform: rotate(-90deg);
}

.navbar-nav li ul li ul {
    width: 300px;
    left: 190px;
    top: 0;
    display: none;
}

.navbar-nav li ul li ul li a {
    transition: .3s;
}

.navbar-nav li ul li ul li a:hover {
    color: var(--primary-color);
}


/* .navbar-nav li:focus-within>ul, */
.navbar-nav li:hover>ul {
    display: block;
}


/* .navbar-nav li ul li:focus-within>ul, */
.navbar-nav li ul li:hover>ul {
    display: block;
}



/* Greater Than tablet */


.lightHoverEffect:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}


@media screen and (min-width : 1000px) {
    .courses__card {
        width: 23%;
    }

    .blog__card {
        width: 23%;
    }

    .key_div {
        width: 30%;
    }

    .download_container p {
        /* width: 50%; */
    }

}



/* Responsive Css */

@media screen and (max-width : 992px) {
    .creative_col {
        border: none !important;
    }

    .videoDiv {
        display: none;
    }

    .lessonPlansPc {
        display: none;
    }

    /* header */


    .navbar-nav li {
        width: 100%;
    }

    
    .navbar-nav li ul{
        padding: 0 20px;
    }

    .navbar-nav li ul li {
        padding: 10px 0;
    }

    .navbar-nav li ul {
        position: relative;
        width: 100%;
    }

    .navbar-nav li ul li ul {
        width: 100%;
        left: 0;
    }

}


/* Mobile */
@media screen and (max-width : 600px) {


    /* navbar */

    /* .customNavbar {
        background: rgba(0, 0, 0, 0.4);
    } */

    /* creatice section */

    .creative_col {
        padding: 1rem 2rem;
    }

    .creative_col h3 {
        text-align: center;
    }

    .creative_col p {
        text-align: center;
    }

    /* Ubiquity */

    .ubiquityContainer img {
        width: 80vw;
    }


    .hero_container {
        height: 800px;
    }

    .about_page__container article p {
        font-size: .8rem !important;
    }

}